@model List<string>

@if (Model.Count > 0)
{
    <ul id="sessionNotifications" class="systemNotifications boxshadow borderradius">
        <li class="header">@Translate("Notifications")</li>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
    
    @* Clear notifications so they won't be displayed for the next request *@
    SessionManager.SessionNotifications.Clear();
}